body {
    font-family: 'Montserrat', sans-serif;
    color: #2B3541;
}
a {
    text-decoration: none;
}
.container {
    max-width: 1143px;
    margin: 0 auto;
}
header {
    margin: 0 auto;
    padding: 49px 0 15px;
}
.header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.first-item{
    flex-basis: 57.7%;
}
.header-logo {
    width: 97px;
    height: 30px;
    background-image: url(../images/logo.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.header-nav,
.header-nav-mdal {
    display: flex;
    justify-content: space-between;
    gap: 54px;
    list-style-type: none;
    padding-left: 0;
    min-width: 470px;
}
.nav-link {
    color: #2B3541;
    font-size: 18px;
    padding-bottom: 10px;
    font-weight: 400;
    border-bottom: 1px solid transparent;
    transition: .2s ease;
}    
.nav-link:hover {
    border-bottom: 1px solid #2B3541;
}
.icon-instagram {
    background-image: url(../images/icons/IN.svg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    margin-right: 30px;
    transform: scale(1);
    transition: .2s ease transform;
}
.icon-facebook {
    background-image: url(../images/icons/FB.svg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    transform: scale(1);
    transition: .2s ease;
}
.icon-facebook:hover,
.icon-instagram:hover {
    transform: scale(1.2666);
}
.hero {
    margin-bottom: 135px;
    max-width: 100%;
}
.wrapper {
    position: relative;
}
.content {
    max-width: 676px;
    z-index: 1;
    padding-top: 229px;
}
.content-title {
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    
    line-height: 1.25;
    letter-spacing: 0.022em;
    margin: 0;
}
.content-text {
    font-size: 40px;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 25px;
}
.content-textarea {
    margin-left: 92px;
}
.content-description {
    max-width: 293px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.45;
    margin-bottom: 59px;
}
.hero-link {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.03em;
    color: #2B3541;
    text-transform: uppercase;
    padding: 23px 30px;
    background: #FBF138;
    transition: .2s ease;
}
.hero-link:hover {
    background: #2B3541;
    color: #FBF138;
}
.hero-link-arrow {
    display: block;
    margin-top: 205px;
    background-image: url(../images/icons/Arrow.svg);
    width: 52px;
    height: 55px;
    transition: .2s ease;
}
.hero-link-arrow:hover {
    transform: scale(1.05);
}
.visual {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: -75px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    z-index: -1;
}   
.visual-bg-left {
    background: linear-gradient(90deg, rgba(251, 241, 56, 0.2) 0%, rgba(253, 249, 182, 0.45) 145.23%);
    width: 535px;
    height: 100%;
}
.visual-bg-right {
    background: linear-gradient(90deg, rgba(253, 249, 182, 0.2) 0%, rgba(253, 249, 182, 0.7) 166.81%);
    width: 235px;
    height: 100%;
}
.visual-img {
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    top: 0px;
    right: -96px;
    background: url(../images/files/@1x/Image\ 1\ screen.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom right;
}
.events {
    margin-bottom: 155px;
}
.events-title {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 41px;
}
.events-grid {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.events-grid-items {
    width: 100%;
    height: 600px;
    position: relative;
}
.item-left {
    background-image: url(../images/files/@1x/maraphon.png);
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center center;
}
.item-center {
    background-image: url(../images/files/@1x/Vebinar\ 1.png);
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center center;
} 
.item-right {
    background-image: url(..//images/files/@1x/Vebinar\ 2.png);
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center center;
}
.events-grid-cover {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(251, 241, 56, .3) 0%, rgba(253, 249, 182, 0) 100%);
    transition: .2s ease;
}
.events-grid-cover:hover {
    background: linear-gradient(180deg, rgba(251, 241, 56, .6) 0%, rgba(253, 249, 182, 0) 100%);
}
.events-grid-items:hover .events-item-text-bottom {
    opacity: 0;
}
.events-grid-items:hover .events-link {
    opacity: 1;
    cursor: pointer;
}
.events-date {
    margin-top: 0;
    padding: 35px 30px 0;
    font-size: 18px;
    font-weight: 700;
    opacity: .6;
}
.events-item-title {
    font-size: 28px;
    font-weight: 700;
    padding-left: 30px;
    margin-bottom: 64px;
    max-width: 260px;
    margin-top: 25px;
}
.item-center .events-item-title {
    margin-bottom: 62px;
}
.events-link {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:  #2B3541;
    background: #FBF138;
    margin-left: 30px;
    padding: 22px 35px;
    opacity: 0;
    transition: .2s ease;
    cursor: pointer;
}
.events-link:hover {
    color: #FBF138;
    background: #2B3541;
}
.events-item-text-bottom {
    font-size: 18px;
    font-weight: 400;
    padding: 13px 22px;
    background: #FBF138;
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 1;
    transition: .3s ease opacity;
}
.events-mobile-btn {
    width: 30px;
    height: 30px;
    border: none;
    background-image: url(../images/icons/events-btn.svg);
    background-position: center center;
    background-size: cover;
    position: absolute;
    right: 0;
    bottom: 0;
    display: none;
}
.timeline-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 5px;
}
.timeline-title {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.25;
    max-width: 271px;
}
.timeline-date-text {
    font-size: 28px;
    font-weight: 700;
}
.timeline-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px 41px 73px 281px;
    gap: 20px;
}
.item-1 {
    grid-column: 1/2;
    grid-row: 1/2;
}
.item-2 {
    grid-column: 1/2;
    grid-row: 2/5;
}
.item-3 {
    grid-column: 2/3;
    grid-row: 1/4;
}
.item-4 {
    grid-column: 2/3;
    grid-row: 4/5;
}
.item-5 {
    grid-column: 3/4;
    grid-row: 1/3;
}
.item-6 {
    grid-column: 3/4;
    grid-row: 3/5;
}
.timeline-grid-item {
    border: 1px solid rgba(43, 53, 65, .5);
    background: #FEFCFE;
    box-sizing: border-box;
    transition: .3s linear border;
}
.timeline-grid-item:hover:not(.today) {
    box-shadow: 0px 4px 30px 0px rgba(43, 53, 65, .2);
    background: rgba(243, 243, 243, 1);
    border: none;
}
.grid-item-content {
    padding: 20px 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    position: relative;
}
.content-date {
    font-size: 18px;
    font-weight: 400;
    color: rgba(1, 1, 1, .7);
    position: absolute;
    right: 28px;
    top: 3px;
}
.item-1 img,
.item-4 img {
    width: 65px;
}
.item-2 img {
    width: 67px;
}
.item-3 img {
    width: 43px;
}
.item-5 img {
    width: 91px;
}
.item-6 img {
    width: 58px;
}
.text-hidden {
    font-size: 18px;
    overflow: hidden;
    max-height: 0;
    transition: 0.2s linear;
    margin-top: 0;
}
.timeline-grid-item:hover:not(.today) .text-hidden {
    max-height: 150px;
}
.timeline-grid-item-title {
    font-size: 18px;
    line-height: 1.5;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 40px;
}
.today {
    background: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 100%);
    opacity: 0.7;
    border: none;
}
.today .text-hidden {
    max-height: 150px;
}
.subscribing {
    background: #F3F3F3;
    margin-top: 160px;
    padding-top: 50px;
    padding-bottom: 83px;
}
.subscribing-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 642px;
    z-index: 1;
}
.subscribing-title {
    font-size: 40px;
    font-weight: 700;
    position: relative;
    z-index: 1;
}
.subscribing-title::before {
    content: '';
    width: 53px;
    height: 53px;
    border-radius: 100%;
    background: #FBF138;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
    position: absolute;
    left: -30px;
    top: -25px;
    z-index: -1;
}
.subscribing-form {
    display: flex;
    gap: 10px 17px;
    flex-wrap: wrap;
    align-items: baseline;
}
.subscribing-email {
    font-size: 18px;
    font-weight: 400;
    width: 335px;
    margin-top: 7px;
    margin-left: 19px;
    padding: 20px;
    border: none;
    background: #FFFFFF;
    color: rgba(43, 53, 65, .3);
    align-items: center;
    outline: none;
}
.subscribing-email:focus {
    background: #F3F3F3;
    color: #2B3541;
}
.subscribing-email:focus:invalid  {
    border: 1px solid #AE0303;
}
.subscribing-btn {
    background: #FBF138;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 3%;
    text-transform: uppercase;
    border: none;
    padding: 22px 46px ;
    transition: .2s ease;
}
.subscribing-btn:hover {
    background: #2B3541;
    color: #FBF138;
}
.subscribing-link {
    color: rgba(43, 53, 65, .5);
    transition: .2s ease;
    border-bottom: 1px solid rgba(43, 53, 65, .5);
}
.subscribing-link:hover {
    color: rgba(43, 53, 65, 1);
    border-bottom: 1px solid rgba(43, 53, 65, 1);
}
.check01 {
    position: relative;
}
#check01 {
    position: absolute;
    opacity: 0;
}
label {
    margin-left: 45px;
    font-size: 11px;
    font-weight: 400;
    color: rgba(43, 53, 65, 0.5);
}
#check01+label {
    align-items: center;
    user-select: none;
}
#check01+label::before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 5px;
    margin-left: 18px;
    position: absolute;
    left: 0;
    bottom: 0;
    border: 2px solid #2B3541;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
}
#check01:checked+label::before {
    background-image: url(../images/icons/done.svg);
}
.about {
    margin-top: 165px;
}
.about-grid {
    display: grid;
    gap: 32px 0;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 365px 200px;
}
._content {
    grid-column: 1/3;
    display: flex;
    gap: 67px;
}
.about-grid-header {
    font-size: 40px;
    font-weight: 700;
    margin: 0;
}
.about-grid-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    max-width: 483px;
    margin-top: 19px;
    margin-bottom: 37px;
}
.about-grid-btn,
.about-grid-btn-mobile {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #2B3541;
    background: #FBF138;
    padding: 22px 54px;
    border: none;
    transition: .2s ease;
}
.about-grid-btn-mobile {
    display: none;
    margin-top: 10px;
}
.about-grid-btn:hover, 
.about-grid-btn-mobile:hover {
    background: #2B3541;
    color: #FBF138;
}
._image {
    height: 335px;
    background-image: url(../images/files/@2x/trainer@2x.png);
    background-size: cover;
    background-position: center center;
}
.about-grid-cover {
    width: 100%;
    height: 100%;
    position: relative;
    background: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, .3) 100%);
    opacity: .3;
}
.about-grid-img {
    width: 100%;
}
.about-grid-title {
    font-size: 18px;
    font-weight: 700;
}
.about-grid-content {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
    margin-top: 21px;
}
._time {
    flex-basis: 231px;
}
._attention {
    flex-basis: 284px;
}
._money {
    flex-basis: 221px;
}
._proffessional {
    flex-basis: 204px;
}
footer {
    margin-top: 80px;
    background: #F3F3F3;
    padding-top: 41px;
    padding-bottom: 20px;
}
footer nav {
    min-width: 461px;
}
.footer-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.footer-item:first-child {
    display: flex;
    flex-basis: 55.3%;
    justify-content: space-between;
    align-items: center;
}
.nav-link-footer {
    font-size: 14px;
    font-weight: 400;
    color: #2B3541;
    border-bottom: 1px solid transparent;
    transition: .2s ease border-bottom;
}
.nav-link-footer:hover {
    border-bottom: 1px solid #2B3541;
}
.footer-nav {
    display: flex;
    justify-content: space-between;
    gap: 90px;
    padding-left: 0;
    list-style-type: none;
    font-size: 14px;
    font-weight: 400;
}
.footer-item:nth-child(2) {
    display: flex;
    gap: 30px;
    align-items: center;
    position: relative;
}
.footer-email {
    font-size: 16px;
    font-weight: 700;
    margin-right: 36px;
    margin-top: 13px;
    z-index: 2;
    position: relative;
    line-height: 1.5;
    color: #2B3541;
}
.footer-email::before {
    content: '';
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background: #FBF138;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
    position: absolute;
    left: -15px;
    top: -15px;
    z-index: -1;
}
footer .icon-instagram {
    display: inline-block;
    background-image: url(../images/icons/IN.svg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 27px;
    height: 27px;
    margin-right: 25px;
}
footer .icon-facebook {
    display: inline-block;
    background-image: url(../images/icons/FB.svg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 27px;
    height: 27px;
}
.footer-item:last-child {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.footer-copyright  {
    font-size: 14px;
    font-weight: 400;
    color: rgba(43, 53, 65, 0.3);
}
.footer-copyright a {
    color: rgba(43, 53, 65, 0.3);
    text-decoration: underline;
    text-underline-offset: 2px solid rgba(43, 53, 65, 0.3); 
    transition: .2s ease color;
}
.footer-copyright a:hover {
    color: rgba(43, 53, 65, 1)
}

/* Header modal window */

.burger-btn {
    width: 29px;
    height: 22px;
    background-color: transparent;
    background-image: url(../images/icons/burger-btn.svg);
    background-size: contain;
    border: none;
    cursor: pointer;
    display: none;
}
#modal {
    width: 100%;
    background: #F3F3F3;
    padding: 0 10px;
    position: absolute;
    top: -800px;
    left: 0;
    right: 0;
    transition: 0.5s;
    box-sizing: border-box;
    margin: 0 auto;
    padding-top: 30px ;
}
#modal .header-box {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    width: 100%;
}
#modal .first-item {
    flex-direction: column;
    align-items: flex-start;
    width: inherit;
}
#modal .header-item:last-child {
    align-self: flex-end;
    padding-right: 20px;
}
#modal nav {
    width: inherit;
}
.header-nav-modal {
    padding: 20px 0 20px 10px;
    flex-direction: column;
    list-style-type: none;
}
.header-nav-modal li {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.header-nav-modal li:nth-child(2) {
    border-top: 1px solid rgba(43, 53, 65, .5);
    border-bottom: 1px solid rgba(43, 53, 65, .5);
}
.nav-link-modal {
    font-size: 14px;
    font-weight: 400;
    color: #2B3541;
}
.burger-close {
    width: 20px;
    height: 20px;
    border: none;
    background-image: url(../images/icons/close.svg);
    background-size: cover;
    position: absolute;
    top:30px;
    right: 10px;
    background-color: transparent;
}

/* Modal wondow registration */
#modal-reg {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    display: none;
}
.modal-reg-box {
    width: 600px;
    height: 577px;
    background: #F3F3F3;
    margin: 0 auto;
    position: relative;
}
.reg-header {
    max-width: 410px;
    text-align: center;
    margin: 0 auto;
    padding-top: 60px;
}
.reg_title {
    font-size: 28px;
    font-weight: 700;
    position: relative;
    z-index: 1;
}
.reg_title::before {
    content: '';
    width: 53px;
    height: 53px;
    border-radius: 100%;
    background: #FBF138;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
    position: absolute;
    left: 30px;
    top: -35px;
    z-index: -1;
}
.reg_text {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}
.modal-reg-form {
    width: 500px;
    margin: 0 auto;
}
.reg-mail [placeholder] {
    color: rgba(43, 53, 65, .3);
}
.reg-mail,
.reg-tel {
    font-size: 18px;
    font-weight: 400;
    padding: 19px 0 19px 19px;
    border: none;
    background: #FFFFFF;
    align-items: center;
    outline: none;
    display: block;
    margin: 0 auto 20px;
    width: 96%;
}   
.reg-mail:focus,
.reg-tel:focus {
    background: #F3F3F3;
    color: #2B3541;
}
.reg-mail:invalid,
.reg-tel:invalid  {
    border: 1px solid #AE0303;
}
.modal-reg-form button {
    font-size: 16px;
    font-weight: 700;
    background: #FBF138;
    border: none;
    text-transform: uppercase;
    display: block;
    padding: 20px;
    margin: 40px auto 0;
    width: 100%;
    cursor: pointer;
}
.reg-close {
    width: 20px;
    height: 20px;
    border: none;
    background-image: url(../images/icons/close.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: absolute;
    top: 30px;
    right: 30px;
    background-color: transparent;
}



/* Responsive */ 

@media (max-width: 1550px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }
    .first-item {
        gap: 25px;
    }
    .content-title {
        font-size: 38px;
    }
    .hero-link-arrow {
       margin-top: 230px;
    }
    .visual {
        right: 0;
    }
}
@media (max-width: 1370px) {
    .visual-img {
        right: 0;
    }
    .content-title {
        max-width: 666px;
    }
}
@media (max-width: 1300px) {
    .hero {
        margin-bottom: 78px;
    }
    .hero-link-arrow {
        margin-top: 185px;
     }
    .events-title {
        margin-bottom: 20px;
    }
    .footer-item:first-child {
        gap: 55px;
    }
}
@media (max-width: 1150px) {
    .content-title {
        font-size: 34px;
    }
    .content {
        max-width: 600px;
        padding: 160px 0;
    }
    .content-textarea {
        margin-left: 0;
    }
    .hero-link-arrow {
        display: none;
    }
    .visual-bg-left {
        width: 45%;
    }
    .visual-bg-right {
        width: 20%;
    }
}
@media (max-width: 1050px) {
    header {
        margin: 0 auto;
        padding: 29px 0 15px;
    }
    .header-nav {
        display: none;
    }
    .burger-btn {
        display: block;
    }
    .first-item {
        flex-basis: 0;
    }
    .events {
        margin-bottom: 58px;
    }
    .events-grid-items {
        height: 60vw;
    }
    .events-item-title {
        font-size: 20px;
    }
    .timeline-grid {
        display: flex;
        flex-direction: column;
    }
    .about-grid {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    ._about {
        flex-basis: 48%;
    }
    ._image {
        flex-basis: 48%;
    }
    .about-grid-item-text {
        flex-basis: 45%;
    }
    .about-grid-title {
        margin-bottom: 18px;
    }
    ._content {
        gap: 10%;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .about-grid-btn {
        margin: 30px 0;
    }
    .footer-item:first-child {
        justify-content: space-between;
        flex-basis: 100%;
        gap: 0;
    }
    footer nav {
        min-width: 300px;
        width: 55%;
    }
    .footer-nav {
        gap: 0;
        justify-content: space-between;
    }
    .footer-email {
        margin-top: 20px;
    }
    .footer-item:nth-child(2) {
        flex-basis: 100%;
        justify-content: flex-end;
    }
}
@media (max-width: 950px) {
    .content {
        padding: 14% 0;
    }
    .content-title {
        font-size: 26px;
        max-width: 455px;
    }
    .content-text {
        font-size: 26px;
    }
    .footer-logo,
    .header-logo {
        width: 78px;    
        height: 24px;
    }       
    .icon-instagram,
    .icon-facebook,
    .icon-instagram-modal,
    .icon-facebook-modal {
        width: 26px;    
        height: 26px;
    }
    .icon-instagram {
        margin-right: 20px;
    }
}
@media (max-width: 815px) {
    .events-grid {
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr 1fr;
    }
    .item-right {
        background-image: url(https://cdn.shopify.com/s/files/1/0300/5526/8445/articles/jivamukti-yoga-570399_900x.jpg?v=1601380394);
        grid-column: 1/3 ;
    }
    .events-link {
        display: none;
    }
    .events-mobile-btn {
        display: block;
    }
    .events-item-text-bottom {
        left: 0;
        bottom: 0;
        display: table;
        padding: 8px 15px;
        opacity: 1;
    }
    .events-grid-items:hover .events-item-text-bottom {
    opacity: 1;
    }
}
@media (max-width: 750px) {
    .content {
        max-width: 100%;
        padding: 50px 0;
    }
    .content-title {
        max-width: 100%;
        margin: 0;
    }
    .content-text {
        margin-top: 15px;
        margin-bottom: 0;
    }
    .content-description {
        max-width: 100%;
        margin-top: 15px;
        margin-bottom: 30px;
    }
    .hero-link {
       display: block;
       text-align: center;
    }
    .visual {
        position: relative;
        height: 330px;
        justify-content: center;
    }
    .visual-img {
        background-position: bottom center;
    }
    .visual-bg-left {
        width: 60vw;
    }
    .visual-bg-right {
        width: 35vw;
    }
    .events-date,
    .events-item-text-bottom,
    .nav-link-modal,
    .nav-link-footer,
    .footer-email {
        font-size: 12px;
    }
    .content-title,
    .content-text, 
    .events-title,
    .timeline-title,
    .subscribing-title,
    .about-grid-header {
        font-size: 26px;
    }
    .content-description,
    .timeline-date-text,
    .content-date,
    .text-hidden,
    .events-item-title,
    .timeline-grid-item-title,
    .about-grid-text,
    .about-grid-title,
    .about-grid-content {
        font-size: 16px;
    }
    .grid-item-content {
        flex-direction: row;
        justify-content: start;
        align-items: inherit;
        gap: 17px;
        padding: 20px 20px 0;
    }
    .timeline-grid-item-title {
        margin-top: 44px;
        margin-bottom: 8px;
    }
    .text-hidden {
        margin-bottom: 20px;
    }
    .timeline-grid-item {
        height: 152px;
    }
    .item-3,
    .item-4 {
        height: 190px;
    }
    .item-1 img,
    .item-4 img {
        width: 39px;
    }
    .item-2 img {
        width: 34px;
    }
    .item-3 img {
        width: 23px;
    }
    .item-5 img {
        width: 46px;
    }
    .item-6 img {
        width: 35px;
    }
    .item-1 .text-hidden {
        width: 320px;
    }
    .footer-copyright {
        font-size: 10px;
    }
    .subscribing-title::before {
        width: 31px;
        height: 31px;
        left: -17px;
        top: -12px;
    }
    .subscribing-form {
      flex-direction: column;
      align-items: center;
      flex-basis: 100%;
    }
    .subscribing-email {
        width: 255px;
        margin-left: 0;
    }
    #check01+label::before {
        margin-left: 0;
    }
    label {
        margin-left: 23px;
    }
    .subscribing-btn {
        order: 1;
        padding: 22px 80px;
    }
    .about {
        margin-top: 100px;
    }
    .about-grid-text {
        max-width: 100%;
    }
    ._about {
        flex-basis: 100%;
    }
    ._image {
        order: 1;
        height: 55vw;
        margin-top: 0;
        margin-left: 0;
        flex-basis: 100%;
    }
    .about-grid-btn {
        display: none;
    }
    .about-grid-btn-mobile {
        display: block;
        margin-top: 17px;
    }
    ._image {
        margin-top: 40px;
    }
    footer {
        background: #FFFFFF;
        margin-top: 40px;
    }
    .footer-icon-instagram {
        margin-right: 20px;
    }
    .footer-item:last-child {
        margin-top: 23px;
    }
    .footer-email::before {
        width: 20px;
        height: 20px;
        left: -10px;
        top: -10px;
    }

/* modal windiw registration */
    .modal-reg-box {
        width: 360px;
        height: 505px;
    }
    .reg_title {
        font-size: 16px;
    }
    .reg_title::before {
        width: 31px;
        height: 31px;
        left: 34px;
        top: -22px;
    }
    .reg_text {
        font-size: 16px;
    }
    .modal-reg-form {
        width: 340px;
    }
}
@media (max-width: 600px) {
    .item-right .events-item-title {
        max-width: 117px;
    }
}
@media (max-width: 500px) {
    .content {
        text-align: left;
    }
    .content-title {
        font-size: 26px;
        padding-top: 45px;
    }
    .content-text {
        margin-top: 46px;
        margin-bottom: 17px;
    }
    .hero-link {
        display: block;
        text-align: center;
    }
    .content-description {
        margin: 0 0 40px;
    }
    .events-grid-items {
        height: 83vw;
        min-width: 145px;
    }
    .events-date {
        padding: 20px 20px 0;
    }
    .events-item-title {
        padding-left: 20px;
        margin-top: 18px;
    }
    .item-right {
        height: 89vw;
    }
    .timeline-title {
        max-width: 175px;
        margin-bottom: 16px;
    }
    .content-date {
        right: 18px;
        top: 7px;
    }
    .subscribing-content {
        padding-bottom: 40px;
        margin-bottom: 60px;
    }
    .subscribing-title {
        text-align: center;
        display:table-caption;
        padding-top: 38px;
        margin-bottom: 50px;
    }
    .subscribing-title::before {
        left: -15px;
        top: 22px;
    }
    .subscribing-form {
        align-items: flex-start;
        flex-basis: content;
    }
    .subscribing-email {
        width: 300px;
    }
    .subscribing-btn {
        padding: 22px 102px;
        margin-top: 38px;
    }
    ._content {
        flex-direction: column;
        gap: 26px;
        flex-wrap: nowrap;
        width: 100%;
    }
    ._about {
        display: flex;
        flex-direction: column;
    }
    .about-grid-content {
        margin-top: 0;
        margin-bottom: 0;
        max-width: 100%;
    }
    .footer-item:first-child {
        flex-direction: column;
        align-items: center
    }
    .footer-logo {
        width: 97px;
        height: 30px;
        align-self: center;
    }
    .footer-item:nth-child(2) {
        flex-basis: 100%;
        justify-content:space-between;
    }
    .footer-item:last-child {
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 360px) {
    .subscribing-email {
        width: 82%;
    }
    .header-btn {
        display: block;
        flex-basis: 22%;
    }

}